<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Label - Address Book</title>
    <link rel="stylesheet" href="../AddressBook/static/styles/styles.css">
</head>
<body>
<header class="navbar">
    <a href="../index.html">Homepage</a>
    <a href="../accounts/profile.html">Profile</a>
    <a href="../address-book.html">Address Book</a>
</header>
<div class="label-container container">
    <h1 class="delete-label-heading">Delete Label</h1>
    <p>Are you sure you want to delete the label <strong>"Important"</strong>?</p>
    <div class="action-buttons">
        <a href="labels.html" class="confirm-btn">Yes, Delete</a>
        <a href="labels.html" class="cancel-btn-green">Cancel</a>
    </div>
</div>
</body>
</html>