{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="label-container container">
        <h1>Edit Label</h1>
        <form id="create-label-form" method="post" action="{% url 'edit-label' label.pk %}">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="error">{{ field.errors }}</div>
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <button type="submit" class="save-btn">Save</button>
            <a href="{% url 'labels-list' %}" class="cancel-btn">Cancel</a>
        </form>
    </div>
{% endblock %}
