{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    <header class="navbar">
        <a href="{% url 'home' %}">Homepage</a>
        <a href="{% url 'profile' user.username %}">Profile</a>
        <a href="{% url 'address-book' %}">Address Book</a>
    </header>
{% endblock %}

{% block content %}
    <div class="label-container container">
        <h1>Manage Labels</h1>
        <div class="labels-list">
            <h2>Existing Labels</h2>
            <ul>
                {% for label in labels %}
                    <li class="label-item">
                        <span class="color-label" style="background-color: {{ label.color }};">{{ label.name }}</span>
                        <div class="label-action-buttons">
                            <a href="{% url 'edit-label' label.pk %}" class="edit-btn">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a href="{% url 'delete-label' label.pk %}" class="delete-btn">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'create-label' %}" class="create-label-btn">+ Create Label</a>
        </div>
    </div>
{% endblock %}
