{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h1>Change Your Password</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    <div class="error">{{ field.errors }}</div>
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit">Change Password</button>

                <div class="link-container">
                    <a href="{% url 'profile' user.username %}">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
