{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <div class="profile-card">
            <div class="profile-header">
                <div class="profile-picture">
                    {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
                    {% else %}
                        <img src="/media/default-images/default-profile-image.png" alt="Profile Picture">
                    {% endif %}
                </div>

                <h1>{{ user.get_full_name }}</h1>
                <p class="username">@{{ user.username }}</p>
            </div>
            <div class="profile-info">
                <h2>Profile Details</h2>
                <div class="info-grid">
                    <div class="info-item">
                        <span class="label">First Name:</span>
                        <span class="value">{{ user.first_name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Last Name:</span>
                        <span class="value">{{ user.last_name }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Email:</span>
                        <span class="value">{{ user.email }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Phone Number:</span>
                        <span class="value">{{ user.profile.phone_number }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Number of Contacts:</span>
                        <span class="value">{{ contact_count }}</span>
                    </div>
                    <div class="info-item">
                        <span class="label">Member Since:</span>
                        <span class="value">{{ user.date_joined }}</span>
                    </div>
                </div>
            </div>
            <div class="profile-actions">
                <a href="{% url 'address-book' %}" class="address-book">Address Book</a>
                <a href="{% url 'edit-profile' %}" class="edit">Edit Profile</a>
                <a href="{% url 'change-password' %}" class="change-password">Change Password</a>
                <a href="{% url 'delete-profile' %}" class="delete">Delete Account</a>
            </div>
            <div class="back-home">
                <a href="{% url 'home' %}">Back to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
