{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="form-container">
            <h1>Create an Account</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>

                    {% if field.name == 'password1' or field.name == 'password2' %}
                        <div class="password-container">
                            {{ field }}
                            <i class="fas fa-eye"></i>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                    <div class="error">{{ field.errors }}</div>
                {% endfor %}

                {% if form.non_field_errors %}
                    <div class="error">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit">Register</button>

                <div class="link-container">
                    <a href="{% url 'login' %}">Already have an account? Sign in</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        const passFields = document.querySelectorAll("input[type='password']");
        const toggleBtns = document.querySelectorAll(".fa-eye");

        toggleBtns.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                const passField = passFields[index];
                if (passField.type === "password") {
                    passField.type = "text";
                    btn.classList.add("active");
                } else {
                    passField.type = "password";
                    btn.classList.remove("active");
                }
            });
        });
    </script>
{% endblock %}
