.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.profile-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.profile-header {
    background: linear-gradient(45deg, #4a90e2, #357abd);
    color: #fff;
    padding: 2rem;
    position: relative;
}

.profile-header .profile-picture {
    width: 25%;
    max-width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    background: #fff;
}

.profile-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-header h1 {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    margin: 1rem 0 0.5rem;
    color: #fff;
}

.profile-header .username {
    font-size: clamp(0.9rem, 1.5vw, 1rem);
    color: #e3f2fd;
    margin: 0;
}

.profile-info {
    padding: 2rem;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #357abd;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.info-item {
    text-align: left;
}

.label {
    font-weight: bold;
    color: #555;
}

.value {
    display: block;
    color: #333;
}

.profile-actions {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    border-top: 1px solid #f1f1f1;
}

.profile-actions a {
    flex: 1 1 calc(48% - 1rem);
    text-decoration: none;
    text-align: center;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: transform 0.3s, background 0.3s;
    color: #fff;
}

.profile-actions .address-book,
.profile-actions .edit,
.profile-actions .change-password{
    background: linear-gradient(45deg, #4a90e2, #1c54a2); /* Bright blue to deep navy */
}

.profile-actions .delete {
    background: linear-gradient(45deg, #e57373, #b71c1c); /* Soft red to deep crimson */
}

.profile-actions a:hover {
    transform: scale(1.01);
}

.back-home {
    text-align: center;
    margin: 2rem 0;
}

.back-home a {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s, background 0.3s;
}

.back-home a:hover {
    transform: scale(1.05);
    background: linear-gradient(45deg, #2575fc, #6a11cb);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .profile-card {
        height: auto;
    }
}

@media (max-width: 425px) {
    .profile-info .info-grid {
        grid-template-columns: none;
    }
}