{% extends 'base.html' %}
{% block content %}
    <div class="wrapper">
        <main class="address-book-container">
            <div class="address-book-header">
                <h1>Your Address Book</h1>
                <div class="actions">
                    <div class="search-bar-sorting">
                        <input type="text" placeholder="Search contacts..." id="search-bar">
                        <select id="sort-options" class="sort-dropdown">
                            <option value="a-z">Sort: A-Z</option>
                            <option value="z-a">Sort: Z-A</option>
                        </select>
                        <select id="filter-options" class="sort-dropdown">
                            <option value="all">All</option>
                            <!-- Populate the rest of the options with all available labels -->
                            <option value="important">Important</option>
                            <option value="work">Work</option>
                            <option value="family">Family</option>
                            <option value="friends">Friends</option>
                        </select>
                    </div>
                    <a href="{% url 'create-contact' %}" class="add-contact-btn">+ Add Contact</a>

                </div>
            </div>
            <ul class="contact-list">
                {% for contact in contacts %}
                    <li class="contact-item">
                        <a href="{% url 'detail-contact' pk=contact.pk %}">
                            <div class="contact-card">
                                <div class="contact-left">
                                    <img src="{{ contact.image.url }}" alt="Contact Picture" class="contact-picture">
                                    <div class="contact-name-labels">
                                        <h2>{{ contact.first_name }}</h2>
                                        <!-- if contact has labels display this block -->
                                        <div class="book-labels">
                                            {% for label in contact.labels.all %}
                                                <!--    - Get contact labels
                                                        - Display first label
                                                        - if (labelsAmount > 1 display) "+X more labels" span
                                                        - // X = labelsAmount - 1 -->
                                                {#                                            <span class="book-label" style="background-color: #ff6b6b;">Important</span>#}
                                                {#                                            <span class="book-label"#}
                                                {#                                                  style="background-color: #646464;"> +2 more labels</span>#}
                                                <span class="book-label"
                                                      style="background-color: {{ label.color }};">{{ label }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <p class="contact-phone">{{ contact.phone_number }}</p>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Paginator -->
            {% if page_obj.paginator.num_pages > 1 %}
                <div class="paginator">
                    <!-- Previous Button -->
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="paginator-btn previous">Previous</a>
                    {% else %}
                        <a class="paginator-btn previous disabled">Previous</a>
                    {% endif %}

                    <!-- Page Numbers -->
                    {% for page_num in page_obj.paginator.page_range %}
                        {% if page_num == page_obj.number %}
                            <span class="paginator-page">{{ page_num }}</span>
                        {% else %}
                            <a href="?page={{ page_num }}" class="paginator-page">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    <!-- Next Button -->
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="paginator-btn next">Next</a>
                    {% else %}
                        <a class="paginator-btn next disabled">Next</a>
                    {% endif %}
                </div>
            {% endif %}
        </main>
    </div>
{% endblock %}
