{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <!-- If the user is Not authenticated -->
    <!--    <h1 class="welcome-msg">Welcome to Address Book</h1>-->
        <!-- If the user is authenticated -->
        <h1 class="welcome-msg">Welcome to your Address Book, <span>Steven</span></h1>
        <div class="links-container">
            <!-- If the user is NOT authenticated -->
    <!--        <div class="auth-links">-->
    <!--            <a href="login.html">Login</a>-->
    <!--            <a href="register.html">Register</a>-->
    <!--        </div>-->
            <!-- If the user is authenticated -->
            <div class="auth-links">
                <a href="profile.html">Profile</a>
                <a href="address-book.html">Address Book</a>
                <a href="logout.html">Logout</a>
            </div>
        </div>
    </div>
{% endblock %}