/* General Styles */
.form-container {
    width: 50%;
    background: white;
    padding: 2rem;
    margin: 2rem 0;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #357abd;
}

label {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: block;
}

input,
textarea {
    width: 80%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

/* Button Styles */
button {
    font-family: "Sour Gummy", serif;
    width: 80%;
    padding: 1rem;
    background: linear-gradient(45deg, #4a90e2, #357abd);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.3s;
}

button:hover {
    background: linear-gradient(45deg, #357abd, #4a90e2);
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Link Container Styles */
.link-container {
    margin-top: 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.link-container a {
    color: #357abd;
    text-decoration: none;
}

.link-container a:hover {
    text-decoration: underline;
}

/* Delete Button Styles */
button.delete {
    background: linear-gradient(45deg, #d9534f, #c12e2a);
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 1rem;
    transition: background-color 0.5s, transform 0.3s;
}

button.delete:hover {
    background: linear-gradient(45deg, #c12e2a, #d9534f);
    transform: scale(1.01);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.change-picture-btn {
    width: 45%;
    background: linear-gradient(45deg, #b0bec5, #90a4ae);
}

.change-picture-btn:hover {
    background: linear-gradient(45deg, #37474f, #263238);

}


/* Cancel Button Styles */
.cancel-btn {
    text-decoration: none;
    color: white;
    background: #f44336;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1rem;
    transition: transform 0.3s, background 0.3s;
}

.cancel-btn:hover {
    background: #d32f2f;
    transform: scale(1.05);
}

/* Form Actions */
.form-actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 2rem;
}

/* Multi-select Styling */
select[multiple] {
    width: 80%;
    height: auto;
    min-height: 150px;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Error Styling */
small {
    display: block;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #666;
}

.error .errorlist {
    color: red;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.error p {
    color: red;
    margin: 0;
    padding: 0;
}

/* Password Field Container */
.password-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.password-container input {
    width: 100%; /* Adjust input width to fill the container */
    padding-right: 2.5rem; /* Space for the eye icon */
    box-sizing: border-box;
}

.password-container .fa-eye {
    position: absolute;
    font-size: 1.2rem;
    right: 10px; /* Adjusted to fit within the container */
    color: #ccc;
    top: 38%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: color 0.3s ease;
}

.password-container .fa-eye.active {
    color: #333; /* Changes color when active */
}

/* Responsive Styling */
@media (max-width: 768px) {
    .form-container {
        width: 100%;
        min-height: 100vh;
        margin: 0;
        padding: 2rem 0;
        align-content: center;
        background: linear-gradient(to bottom, #dceeff, #ffffff);
    }

    h1 {
        font-size: 1.8rem;
    }

    .form-container .delete-form-content {
        padding: 2rem;
    }

    .password-container input {
        padding-right: 2.5rem; /* Ensure padding remains for eye icon */
    }

    .password-container .fa-eye {
        right: 10px; /* Keep consistent spacing */
    }
}

