{% extends 'base.html' %}
{% load static %}
{% block navbar %}
{% endblock %}

{% block content %}
    <div class="wrapper">
        <header class="navbar">
            <a href="../index.html">Homepage</a>
            <a href="../accounts/profile.html">Profile</a>
            <a href="../address-book.html">Address Book</a>
        </header>
        <main class="delete-contact-container">
            <div class="container">
                <div class="form-container">
                    <h1>Delete Contact: {{ contact.first_name }} {{ contact.last_name }}</h1>
                    <p class="delete-form-content">Are you sure you want to delete this contact?</p>
                    <form action="#" method="post">
                        {% csrf_token %}
                        <button type="submit" class="delete">Delete</button>
                        <div class="link-container">
                            <a href="{% url 'detail-contact' contact.id %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
